.header {
  padding: 5px;
  text-align: center;
  background-image: url("csuf-logo-footer.png");
  background-color:#00274C;
  background-repeat: no-repeat;
  background-position-x: 5px;
  background-position-y: 5px;
  background-size: 155px 40px;
  color: white;
  font-size: 30px;
}

.footer {
  padding: 10px;
  text-align: center;
  background-color:#00274C;
  background-repeat: no-repeat;
  background-size: 250px 80px;
  color: white;
  font-size: 10px;
}
.tab-content{
	height: 350px;
}
table {
  width:100%;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: left;
}
#t01 tr:nth-child(even) {
  background-color: #eee;
}
#t01 tr:nth-child(odd) {
 background-color: #fff;
}
#t01 th {
  background-color: black;
  color: white;
}